/*
https://codepen.io/alvarotrigo/pen/wvrzPWL
*/
.checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 75px;
    right: 70px;
    z-index: 6;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
}

.hamburger__menu {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 75px;
    right: 70px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: transparent;
    }

    .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
}

.checkbox:checked~.hamburger__menu .line1 {
    transform: rotate(45deg);
}

.checkbox:checked~.hamburger__menu .line2 {
    transform: scaleY(0);
}

.checkbox:checked~.hamburger__menu .line3 {
    transform: rotate(-45deg);
}


@media(max-width: 875px) {
    .checkbox {
        pointer-events: auto;
    }

    .hamburger__menu {

        .line {
            background: #DFAA5B;
        }
    }
}